// @todo This is temporary fix of betomat's styles getting too low priority in prod build.
// Needs to be fixed in the plugin.
.ck.ck-betomat-form {
  fieldset {
    border: 0 !important;
    > button {
      display: flex !important;
      width: 100% !important;
    }
  }

  &__word-groups {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  &__word-groups-label {
    font-weight: 600 !important;
  }
}